html {
  font-size: 1em;
  font-family: georgia;
  color: #222222;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  display: grid;
  background-color: #dddddd;
}

.page {
  display: grid;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.container-1c, .container-2c {
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  grid-gap: 0.5vw;
}

.container-1c {
  grid-template-columns: 1fr;
}

.container-2c {
  grid-template-columns: 1fr 1fr;
}

.box {
  width: 100%;
  float: center;
  margin: 0;
  padding: 1vw;
}

@media screen and (max-width: 1600px) {
  .page {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .page {
    width: 96%;
  }
  .container-2c {
    grid-template-columns: 1fr;
  }
	.box {
		padding: 0.5vw;
	}
}

.t_center {
  text-align: center;
}

h2 {
  font-size: 1.25em;
  color: #b3017e;
  margin-top: 18px;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
  padding: 4px;
  text-align: left;
  text-decoration: none;
}

p {
	display: block;
	margin: 10px;
}

ul, ol {
	display: block;
	padding-left: 2em;
	padding-right: 1em;
	padding-top: 5px;
	padding-bottom: : 5px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

ul {
	list-style-image: url("../img/dot.png")
}

button {
  background-color: #25b4ff;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.0em;
  border: none;
  border-radius: 8px;
  color: #000000;
  margin: 2px 2px;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #b3017e;
}

button:active {
  background-color: #25b4ff;
}

button.small {
  width: 35%;
}

button.big {
  width: 75%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
 	padding: 5px;
}

img.big {
	width: 100%;
}

img.small {
	width: 50%;
}

a {
  text-decoration: none;
}
a:link {
  color: #b3017e;
}
a:visited{
  color: #177eb3;
}
a:hover {
  color: #25b4ff;
}
